<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="LogbackConsole" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} %M at line %line - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="LogbackConsole" />
  </root>
</configuration>